.mainExito{
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .contenedorExito{
        width: 70vw;
        height: 50vh;
        background-color: #ffffff;
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;

        .fa-regular{
            font-size: 4rem;
            color: green;
        }
        
        .tituloExito{
            font-size: 2rem;
        }

        .boton {
            display: block;
            background-color:#2A7AE4;
            border: none;
            border-radius: 7px;
            width: 100%;
            margin-top: 1rem;
            max-width: 20rem;
            padding: 1.5rem;
            box-sizing: border-box;
            color:  #ffffff;
            font-size: 25px;
            align-self: center;
            text-align: center;
            text-decoration: none;
            font-weight: bold;
        }
    }
}
