header{
    .navLogin{
        justify-content: center;
        .contenedorNavegadorLogin{
            width: 100%;
            justify-content: right;
            a{
                margin-left: 1rem;
            }
        }
    }
}