table{
    width: 100%;
    thead{
        background-color: #2A7AE4;
        tr{
            
            .tablaUsuariosTitulo{
                color: #ffffff;
                padding:1rem;
            }
        }
        
    }
}